<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gráficos - CAA_RELATORIO</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-white">
  <div class="container mt-4">
    <h3 class="text-primary">Relatórios Gráficos</h3>
    <a href="/visualizar" class="btn btn-secondary btn-sm">Voltar</a>
    <div class="mt-4">
      {{ grafico_auxilio|safe }}
    </div>
    <div class="mt-4">
      {{ grafico_cidade|safe }}
    </div>
  </div>
</body>
</html>